@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap");
:root{
    --main-dark-blue:hsl(217,54%,11%);
    --card-dark-blue:hsl(216,50%,16%);
    --line-dark-blue:rgb(36, 63, 100);
    --white:hsl(0,10%,100%);
    --text-size:18px;
    --soft-blue:hsl(215,51%,70%);
    --cyan:hsl(178,100%,50%);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 body{
    background-image: url('images/bg-desktop-dark.jpg');
    /* background-size:200% 200%; */
    /* width:100%;
    height:100vh; */
    margin:0px 60px 0px 60px;
    background: var(--main-dark-blue);
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center; 
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* .container{
    width:50%;
    height:50vh;
} */

/* .container img{
    width:150%;

} */
/* .image{
    width:50%;
    height:1px;
    margin:0px 50px 10px 30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
} */
.image{
    margin:auto;
    width:30%;
    padding:50px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
       margin:auto;
       width: 50%;
       padding:5px;
       margin-top:-10px;
       display:flex;
       align-items:center;
       justify-content:space-around;
     
}
.rows{
    font-size: 18px;
    margin:auto;
    width: 150%;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content:space-around;

}
table
{
    width:50%;
    height:50px;
    border-color:var(--main-dark-blue);
    
}