@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap");
.banner{
    img{width:100%;}
}
.todolight{
    position: absolute;
    top:15%;
    width: 100%;
    text-align: center;
    color: aliceblue;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 29rem;
}
.col{
  border-radius:4px;
  color: aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(23, 2, 75);  
  width: 400px;
  height: 40px;
  padding: top 5em;%;
}
.last{
    padding-right: 7%;
    color: aliceblue;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;

}
.content{
    position: absolute;
    top:35%;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.sbar{
    backgroung-color:rgb(10, 10, 34);
    position:relative;
    top:25%;
    width: 100%;
    align-items: center;
}
.search_wrap{
    color: chartreuse;
    width: 200px;
    margin:30px auto;;
} 
.search_wrap .search_box{
    color: coral;
    position:absolute;
    width: 60px;
    height: 10px;
}
.symbol{
    color: rgb(222, 241, 241);
    position: absolute;
    top: -150px;;
    left: -100px;
    width: 400%;
    height: 100%;
    font-size: large;
}